services:
  drupal:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: drupal
    ports:
      - "8080:80"
    volumes:
      - /root/.composer
      - /var/www/html/sites
      - ./themes/custom/jwrf:/app/web/themes/custom/jwrf
      - ./themes/custom/umami_analytics:/app/web/themes/custom/umami_analytics
    depends_on:
      - db
    networks:
      - caddy_net

  db:
    image: mysql:latest
    container_name: mysql
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASS}
    volumes:
      - ./db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h 127.0.0.1 -u $$MYSQL_USER --password=$$MYSQL_PASSWORD"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - caddy_net

  umami:
    image: ghcr.io/umami-software/umami:mysql-latest
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: mysql://${DB_USER}:${DB_PASS}@mysql:3306/${DB_NAME}
      DATABASE_TYPE: mysql
      APP_SECRET: ${UMAMI_SALT}
    depends_on:
      db:
        condition: service_healthy
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:3000/api/heartbeat"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - caddy_net

volumes:
  db_data:

networks:
  caddy_net:
    external: true
