body {
  font-family: 'JetBrains Mono', monospace;
  background-color: rgb(18,18,18);
  color: rgb(224,224,224);
}

a {
  color: rgb(224,224,224);
  text-decoration: underline;
  text-decoration-color: rgb(221,94,86);
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

a:hover {
  background-color: rgb(221,94,86);
  text-decoration-color: rgb(221,94,86);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Grotesk', sans-serif;
}
